<h2>Crate a new Account</h2>

<div class="main-container">
    <div class="register" id="register-block">
        <input type="text" id="user-register-input" placeholder="Enter your username (Be Creative)">
    </div>
    <div class="register" id="register-block">
        <input type="text" id="user-password-input" placeholder="Enter your password (Be Creative)">
    </div>
    <div>
        <button>Register</button>
        <a href="/login">Login Instead</a>
    </div>
    <!-- <div class="chat-container">
        <div class="users" id="users"></div>
        <div class="message-container">
            <div class="chat-body" id="messages"></div>
            <div class="message-box">
                <input type="text" id="message-input" placeholder="Enter your message...">
            </div>
        </div>
    </div> -->
</div>